<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
  <aop:aspectj-autoproxy/>


  <bean id="account" class="com.wangfengbabe.learning_spring.aop.model.Account"/>

  <bean id="accountDao" class="com.wangfengbabe.learning_spring.aop.dao.impl.AccountDaoImpl"/>
  <bean id="accountService" class="com.wangfengbabe.learning_spring.aop.service.impl.AccountServiceImpl">
    <property name="accountDao" ref="accountDao"/>
  </bean>


  <bean id="pointcutCollection" class="com.wangfengbabe.learning_spring.aop.pointcut.PointcutCollection"/>
  <bean id="auditorAspect" class="com.wangfengbabe.learning_spring.aop.aspect.AuditAspect"/>

</beans>