<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="csvOutputGenerator" class="com.wangfengbabe.learning_spring.looselycouple.CsvOutputGenerator">
  </bean>
  <bean id="jsonOutputGenerator" class="com.wangfengbabe.learning_spring.looselycouple.CsvOutputGenerator">
  </bean>

  <bean id="outputHelper" class="com.wangfengbabe.learning_spring.looselycouple.OutputHelper">
    <property name="outputGenerator" ref="csvOutputGenerator"></property>
  </bean>
</beans>